<form #f="ngForm"
      (ngSubmit)="_submitForm()"
      [formGroup]="_form">
  <div [fxLayoutAlign]="(_isHandset$ | async) ? 'start start' : 'start end'"
       [fxLayout]="(_isHandset$ | async) ? 'column' : 'row'"
       fxLayoutGap="5px">
    <mat-form-field [fxFlex]="(_isHandset$ | async) ? 'noshrink' : 'auto 1 0'"
                    [ngClass]="(_isHandset$ | async) ? 'full-width' : ''"
                    appearance="fill">
      <label>Descrição da Tarefa</label>
      <textarea autocomplete="off"
                formControlName="description"
                matInput
                rows="5"></textarea>
    </mat-form-field>

    <mat-form-field [fxFlex]="(_isHandset$ | async) ? 'noshrink' : 20"
                    [ngClass]="(_isHandset$ | async) ? 'full-width' : ''"
                    appearance="fill">
      <mat-label>Data proposta para conclusão</mat-label>
      <input [matDatepicker]="picker"
             autocomplete="off"
             formControlName="suggestedDeadline"
             matInput>
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button (click)="_submitForm(f)"
          color="primary"
          ngClass="full-width"
          mat-raised-button
          type="button">
    Gravar Tarefa
  </button>
</form>
